---
layout: splash
permalink: /
excerpt: >
  <header>
    <p id="page-title" class="page__title" itemprop="headline" style="text-align:center">
      <br>
      <br>
      <br>
      <br>
      Hi, I'm Kevin Chuang.
      <p class="page__lead" style="text-align:center">
      A Software Engineer and Data Engineer.
      </p>
      <br>
      <br>
      <br>
      <br>
    </p>
  </header>
header:
  overlay_color: "#E7E7E7"
  overlay_filter: "0.5"
  overlay_image: /assets/images/mountains_blue_ocean.jpg
intro:
  - excerpt: ''
feature_row:
  - image_path: assets/images/sean_stratton.jpg
    alt: "placeholder image 1"
    title: "About Me"
    excerpt: "Read more about me and my hobbies."
    url: "/about"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/scott-graham.jpg
    alt: "placeholder image 2"
    title: "Projects"
    excerpt: "My personal, school, and work projects."
    url: "/projects"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/aaron-burden_cropped.jpg
    alt: "placeholder image 3"
    title: "Blog"
    excerpt: "General & technical blog"
    url: "/posts"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}
{% include feature_row %}
